body {
  background-color: #DAB6BBff;
  color: #311A3Eff;
  font-family: 'Poppins', sans-serif;
  margin: 80px;
}



.button {
  background-color: #8C7792ff;
  color: white;
  border-color: #311A3Eff;
  border-style: solid;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;

}

.link {
  color: white;
  text-decoration: none;
}